/* Resetting default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2; /* Light gray background */
}

.container {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}

.navbar {
  background-color: #000; /* Black background */
  padding: 20px 0;
}

.logo {
  color: #fff; /* White font color */
  font-size: 24px;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  float: right;
}

.nav-links li {
  display: inline-block;
  margin-left: 20px;
}

.nav-links li a {
  color: #fff; /* White font color */
  text-decoration: none;
  font-size: 18px;
}

h1 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #000; /* Black button background */
  color: #fff; /* White font color */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #333; /* Darker black on hover */
}
header,
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
